@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 230, 213);
}

.img {
    width: 100%;
    border-radius: 10px;
}


.card {
    background-color: white;
    width: 70%;
    padding: 30px;
    margin: 50px auto;
    border-radius: 20px;
    /* box-shadow: 0 0 50px 3px  rgba(0, 0, 0, 0.5); */
}

/* TITULO PRINCIPAL */
h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.list h1 {
    padding-bottom: 10px;
}

/* TITULOS H2 */
h2 {
    color: brown;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/* TITULO H3 */
.outfit {
    color: darkmagenta;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* FONDO TITULO H3 */
#bg-violet {
    background-color: rgb(255, 247, 253);
    padding: 20px;
}

/* MODIFICACIONES A LAS LISTAS DEL PROYECTO */
.list {
    padding: 20px 0;
    list-style-position: inside;
}

/*ESPACIADO DE LOS TEXTOS DE LAS LISTAS DEL PROYECTO */
.list-text {
    padding-top: 10px;
    padding-left: 10px;
}

/* FUENTES DE LETRAS PARA LISTAS Y TABLA */
ul>li, ol>li, span, p, th, td {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;  
}

/* ESPACIADO ENTRE LISTAS Y TABLA */
ul>li, ol>li {
    padding-bottom: 10px;
}

/* DISEÑO DE LA TABLA */
table {
    border-collapse: separate;
    width: 100%;  
    border-spacing: 0 10px;  
}

/* ESPACIADO AL TITULO DE LA TABLA */
h2.nutrition {
    padding-bottom: 10px;
}

/* GROSOR PARA LAS LETRAS DE LA TABLA */
table tr>th {
    font-weight: 500;
}

/* BORDES DE LA TABLA */
tr>th, td {
    border-bottom: 1px solid  rgb(235, 231, 231);
    padding-bottom: 10px;   
}

/* COLOR Y GROSOR PARA LOS NUMEROS DE LA TABLA */
tr td {
    color: brown;
    font-weight: 600;
}

/*  */
.border {
    border-bottom: 1px solid rgb(235, 231, 231);
}

.me {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
    font-style: normal;  
}